[Unit]
Description=Manage Access Points
Wants=network-online.target
After=network-online.target

[Service]
Type=idle
ExecStart=/home/pi/apms
Restart=on-failure
RestartSec=5s
WorkingDirectory=/home/pi/

[Install]
WantedBy=multi-user.target